{% extends "global/Page.html" %}
{% load otree %}

{% block global_styles %}
    <link rel="stylesheet" href="{% static 'css/pw.css' %}">
{% endblock %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">
            <p>
                You are endowed with {{ Constants.endowment }} dollars. You have an opportunity to play some lotteries. We will ask your bid price for each lottery. As you will see, it is your best strategy to bid the maximum amount you would be willing to pay.
            </p>
            <p>
                Your bid price will be compared to a fixed price. The fixed price will be randomly drawn and thus completely unrelated to your bid.
            </p>

            <p>
                If your bid price is more than or the same as the fixed price then you will pay the fixed price to receive the lottery. Please note that you do not pay your bid price but the fixed price.
            </p>

            <p class="example"> 
                Example: if you bid $9.78 and the fixed price is $7.23, then you will pay $7.23 for the lottery.
            </p>

            <p>
                If your bid price is less than the fixed price then you do not get the lottery. Instead, you keep your money.
            </p>
            <p class="example"> 
                Example: if you bid $2.12 and the fixed price is $5.23, then you do not get the lottery. You keep your money.
            </p>
            <p>
            <hr>
            Why is it my best strategy to bid the maximum amount I'd be willing to pay ?
            </p>
            <p>
                Suppose the maximum I'd be willing to pay for the lottery is $9.78 but I bid $9.
                Then if the fixed price is, say, $9.1, I do not get the lottery. Had I bid $9.78, I'd receive the lottery and pay only $9.1 for the lottery that I think is worth $9.78.
                Suppose the maximum I'd be willing to pay for the lottery is $9.78 but I bid $10.
                Then if the fixed price is, say, $9.9, I have to pay $9.9 for a lottery that I really think is worth only $9.78.
            </p>

            {% if treatment == "positive" %}
                <p style="color:red">You will do us a favor if you bid a higher price than you normally would.</p>
            {% endif %}

            {% if treatment == "negative" %}
                <p style="color:red">You will do us a favor if you bid a lower price than you normally would.</p>
            {% endif %}

        </div>
    </div>

    {% next_button %}

{% endblock %}
