{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Decision
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
    <div class="card-body">

        <p>
            Your bid price will be compared to a fixed price which is randomly drawn:
        </p>
        <p>
            If your bid price is greater or equal to the fixed price, then you will pay the fixed price and receive the lottery.
        </p>
        <p>
            If your bid price is less than the fixed price, then the purchase will not happen.
        </p>

    </div>
    </div>

        {% if subsession.round_number == 1 %}
            <p>Please make a bid for the lottery which provides a <strong>10% chance of winning 15 dollars</strong>.</p>
        {% else %}
            <p>Please make a bid for the lottery which provides a <strong>90% chance of winning 15 dollars</strong>.</p>
        {% endif %}

        <p>The bid price can be between {{ Constants.min_allowable_bid }} and {{ Constants.max_allowable_bid }}, inclusive.</p>

        {% if treatment == "positive" %}
            <p style="color:red">You will do us a favor if you bid a higher price than you normally would.</p>
        {% endif %}

        {% if treatment == "negative" %}
            <p style="color:red">You will do us a favor if you bid a lower price than you normally would.</p>
        {% endif %}

    {% formfields %}

    {% next_button %}

{% endblock %}
